/* VARIABLES */

:root{
    --color1: rgb(42, 158, 253);
    --color2: rgb(75, 75, 75);
}

/* ESTILOS GENERALES */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

h3{
    font-size: 1.8em;
}

a{
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: var(--color2)
}



/* ESTILOS POR BLOQUES */

.container{
    width: 90%;
    margin: 0 auto;
}

/* Header */



.header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 2.5em;
    /* padding: 0.3em 0; */

    background-color: var(--color1);
    z-index: 1;
}

.header__container{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    padding-left: 1em;
}

/* Main */

.main{


    min-height: calc(100vh - 8em);
    padding: 1em 0;
    background-color: white;
}

.repertorio__titulo-artista{
    color: var(--color1);
}

.repertorio__lista-temas{

    list-style-type: none;
    padding-left: 1em;
    margin-top: 0.5em;
    color: var(--color2);
}

.repertorio__cancion{
    margin-top: 0.5em;
    font-size: 1.2em;

}

.repertorio__cancion__propiedades{
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.repertorio__calificacion{
    display: none;
    margin-left: 1em;
    color: rgb(179, 179, 179);
    position: relative;
    top: -0.1em;
}

.repertorio__calificacion:hover{
    cursor: pointer;
}

.repertorio__comentario{
    color: gray;
    display: none;
    background-color: rgb(207, 241, 255);
    font-size: 0.8em;
    padding: 0.3em;
    border: solid 1px var(--color1);
    border-radius: 0.5em;
    left: 22em;
    position: absolute;
}

.repertorio__calificacion:hover + .repertorio__comentario{
    display: inline-block;
}

.repertorio__cancion__link{
    font-size: 1em;
    color: var(--color1);
}

/* Footer */

.footer__container{
    height: 100%;
    display: flex;
}

.footer{
    background-color: var(--color1);
    height: 5.5em;
}

.confirmador{
    margin: auto
}